<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PROJECT 1 Part 3</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="	https://unpkg.com/carbon-components/css/carbon-components.min.css">
        <script type="text/javascript" charset="utf-8" async="" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>

    <style type="text/css">
        .container-body { padding-top: 5em; padding-bottom: .5em;}
    </style>


    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">COMSW 4111 Project 1</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/general_search">Search by Facility</a></li>
            <li><a href="/specialty_search">Search by Specialty</a></li>
            <li><a href="/custom_search">Custom Search</a></li>
            <li><a href="/search_most_ouccurinig">Find the Most Occuring Provider</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
