{% include "header.html" %}

<div class="container container-body">

  <h1>“Find a Doc!”</h1>
  <hr>


  <hr>

  <p>This is an application that will help patients within the New York state area to locate a list of Medicaid Provider</p>

  <hr>
  <div class="container">
  <p><a href="/general_search" class="btn btn-info">Find a Provider by Facility Name</a></p>
  </div>
  &nbsp;

  <div class="container">
  <p><a href="/specialty_search" class="btn btn-info">Search by Specialty</a></p>
  </div>

  &nbsp;
  <div class="container">
  <p><a href="/custom_search"class="btn btn-info">Custom Search</a></p>
  </div>

  &nbsp;
  <div class="container">
  <p><a href="/search_most_ouccurinig" class="btn btn-info">Find the Most Occuring Provider</a></p>
  </div>

  <hr>

</div>

{% include "footer.html" %}
